*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Segoe UI';
    letter-spacing: 50;
}

header{
    background-color:  white;
    text-align: center;
    padding: 0rem;
    width: 100%;
    left: 0;
    bottom: 0;
}

.headderlinks{
    list-style-type: none;
    float: left;
    top: 0.7rem;
    left: 1rem;
    text-decoration: none;
    color: black;
}

.toplogo{
    margin: auto;
    width: 50%;
    padding: 2px;
}

.search_bar{
    float: right;
    top: 0.7rem;
    right: 6rem;
}

.headderlinks li{
    display: inline;
    color: black;
    text-decoration: none;
}

.hrheadder{
    width: 75%;
    border: 2px solid black;

}

.home{
    background-image: url("images/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
    color: white;
    padding: 1rem;
}
.home_first_txt{
    float: left;
}

.home_second_txt{
    float: right;
}

.about_us_info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.about_image_one{
    width: 150px;
    height: 300px;
}

.about_image_two{
    width: 200px;
    height: 400px;
}

.product_image{
    width: 275px;
    height: 240px;
    border: 1px solid #707070;
}
.product_description{
    width: 275px;
}

.hrproduct{
    width: 30%;
    border: 2px solid black;
}

.product_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
}

.hrtitle{
    width: 50%;
    border: 2px solid black;
}

.productlink{
    float: left;
    color: #BF7631;

}

.atcbutton{
    background-color: #BF7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-color: #BF7631;
    float: right;
    margin: 1rem;
}

.contact{
    margin: auto;
    display: grid;
    grid-template-areas: "top" "mid" "bot";
}

.email{
    margin: auto;
}

.message{
    margin: ;
    height: 200px;
    width: 200px;
}


footer{
    background-color:  #BF7631;
    text-align: center;
    padding: 0rem;
    width: 100%;
    left: 0;
    bottom: 0;
}

.footer_icons_left{
    float: left;
}

.logo_bottom{
    margin: auto;
    width: 50%;
    padding: 2px;
}

.footer_icons_right{
    float: right;
}
.coppyright{
    float: right;
}